<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath:git.properties" />

    <bean name="gitConf" class="com.dcits.modelbank.jgit.helper.GitHelper">
        <property name="rootDir" value="${git.root.dir}"/>
        <property name="userName" value="${git.user.name}"/>
        <property name="userEmail" value="${git.user.email}"/>
        <property name="remoteUrl" value="${git.remote.url}"/>
    </bean>
</beans>