<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath:git.properties"/>
    <context:component-scan base-package="com.dcits.modelbank"/>

    <bean name="gitHelper" class="com.dcits.modelbank.jgit.helper.GitHelper">
        <property name="rootDir" value="${git.root.dir}"/>
        <property name="userName" value="${git.user.name}"/>
        <property name="userEmail" value="${git.user.email}"/>
        <property name="remoteUrl" value="${git.remote.url}"/>
        <property name="credentialsProvider" ref="credentialsProvider"/>
    </bean>

    <bean name="credentialsProvider" class="org.eclipse.jgit.transport.UsernamePasswordCredentialsProvider">
        <constructor-arg name="username" value="${git.user.name}"/>
        <constructor-arg name="password" value="${git.user.password}"/>
    </bean>

    <!-- 生成xml文件bean配置信息 -start-->
    <bean id="xmlBulider" class="com.dcits.modelbank.xmlUtils.XmlBulider">
        <property name="filePtah" value="${git.output.xml.filePath}"/>
        <property name="author">
            <list>
                <value>name</value>
                <value>versionID</value>
                <value>timestamp</value>
                <value>desc</value>
                <value>changeType</value>
                <value>check</value>
            </list>
        </property>
    </bean>
    <!-- 生成xml文件bean配置信息 -end-->

</beans>